@import "tailwindcss";

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}
/* Hide scrollbar but keep scrolling */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

*{
  user-select: none;
}
img{
  -webkit-user-drag: none;  /* Chrome, Safari */
  -khtml-user-drag: none;   /* Konqueror */
  -moz-user-drag: none;     /* Firefox */
  -o-user-drag: none;       /* Opera */
  user-drag: none;          /* Standard property */
  pointer-events: none;  
}